<header>
  <nav class="navbar">
    <img src="http://subirimagen.me/uploads/20181030144712.jpg" height="50" alt="logo del empresa">
  </nav>
  <div class="container-fluid p-0 bp-SubNav">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <a class="breadcrumb-item" [routerLink]="['/conociendo-mi-perfil']" routerLinkActive="active">Conociendo mi perfil</a>
        <a class="breadcrumb-item" [routerLink]="['/mi-perfil']" routerLinkActive="active"><a>Mi perfil</a></a>
        <a class="breadcrumb-item" [routerLink]="['/registro']" routerLinkActive="active"><a>Registro</a></a>
      </ol>
    </nav>

  </div>
</header>
