.navbar{
  background-color:  #0b1d75;
  height: 71px;
}

.navbar img{
  margin-left: 30px;
}

.bp-SubNav{
  height: 45px;
  /* background-color:#f3f3f3;
   color: #8285bf; */
}

ol {
  padding-left: 45px;
}

.bp-SubNav p{
  color :  #0b1d75;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 92px;
  padding-top: 8px;
  size: 22px;
}



