<app-header></app-header>
<div class="container-fluid d-flex justify-content-center">
  <h3 class="bp-textTitle">Basado en sus respuestas, le presentamos su perfil de inversión</h3>
</div>
<section>
  <div class="bp-SubSection">
    <div class="bp-boxInformation ">
      <div class="card" style="width: 25rem;">
        <div class="card-header text-center">
          MODERADO
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Retorno promedio anual esperado <sup>1</sup> <p class="bp-result">{{casa}}</p> </li>
          <li class="list-group-item">Mejor año <sup>2</sup> </li>
          <li class="list-group-item">Peor Año <sup>2</sup></li>
          <li class="list-group-item">Para inversionistas de largo plazo que buscan crecimiento moderado en su
            inversión a un nivel medio - alto de riesgo, y que no requieren ingresos corrientes</li>

        </ul>
      </div>
      <div class="bp-textLeyen">
        <p>
          1/ Sobre la base de rentabilidades de largo plazo esperadas para la categoría de activo que componen los
          portafolios de cada perfil <br>
          2/ Sobre la base de un back test aplicados a los perfiles para los ultimos 10 años
        </p>
      </div>
    </div>
    <div class="bp-boxDona">
      <div>
        <app-grafico-dona></app-grafico-dona>
      </div>
    </div>
  </div>
  <div class="bp-divBtnRegistrarme text-center">
      <a href="#" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Registrarme</a>
  </div>
</section>
