section {
    width: 100%;
}

.bp-SubSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: gray;
}

.bp-boxInformation, .bp-boxDona {
    display: flex;
    align-items: baseline;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
}

.bp-textLeyen {
    font-size: 9px;
}

.card-header {
    background: #0b1d75;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.btn {
    background: #0b1d75;
    opacity: 1;
    width: 320px;
    margin: 60px;
    font-size: 22px;
    border: #0b1d75;
    cursor: pointer;
}

.bp-divBtnRegistrarme {
    display: flex;
    align-items: baseline;
    color: #0b1d75;
}
