<div class="card mt-5">
    <div class="card-body">
      <!-- Tengo problemas al cargar el formulario -->
      <form #usuarioForm="ngForm" (ngSubmit)="onSubmit(usuarioForm)">
        <!-- Agregamos un campo oculto para poder actualizar la Tarea -->
      <!--   <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="usuarioService.selectedUsuario.$key"> -->
        <div class="form-group">
          <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="usuarioService.selectedUsuario.name"
            placeholder="Agregar Tarea">
        </div>
        <div class="form-group">
            <label class="phone" for="exampleCheck1" >Teléfono</label>
            <input type="number" class="form-control" name="phone" #phone="ngModel"  [(ngModel)]="usuarioService.selectedUsuario.phone">
        </div>
        <div class="form-group">
            <label for="email">Correo Electronico</label>
            <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="usuarioService.selectedUsuario.email" required>
        </div>
        <div class="form-group">
            <label for="email">Fecha de Nacimiento</label>
            <input type="date" class="form-control" name="born" #born="ngModel" [(ngModel)]="usuarioService.selectedUsuario.born" required>
        </div>
        <div class="form-group">
            <label for="genero">Género</label><br>
            <select id="genero" name="gender" #gender="ngModel" [(ngModel)]="usuarioService.selectedUsuario.gender">
                <option>Femenino</option>
                <option>Masculino</option>
            </select>
        </div>

        <div class="form-group">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-plus-circle"></i> REGISTRARME
          </button>
          <!-- Necesito reseterar el servicio  -->
          <button class="btn btn-secondary" type="reset" (click)="resetForm(usuarioForm)">
            <i class="fas fa-sync-alt"></i> Reset
          </button>
        </div>
      </form>
    </div>
  </div>

