<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="http://subirimagen.me/uploads/20181030144712.jpg" height="50" alt="logo del empresa"></a>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav d-flex justify-content-between" style="width: 100%">
      <li class="nav-item">
        <a class="nav-link" href="#">Acerca de Inteligo SAB<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Porqué nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Productos y servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Servicio al cliente</a>
      </li>
      <li class="nav-item d-flex align-items-center btn-perfil active">
        <i class="fas fa-hand-holding-usd"></i>
        <a class="nav-link" [routerLink]="['/conociendo-mi-perfil']" routerLinkActive="active" >Conoce tu perfil de inversionista</a>
      </li>
      <li class="nav-item d-flex align-items-center">
        <i class="fas fa-users ml-3"></i>
        <a class="nav-link" href="#">Hágase cliente</a>
      </li>
    </ul>
  </div>
</nav>
<div class="background">
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </form>
</nav>
